Package: com.satori.rippleboard
Name: RippleBoard
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: RippleBoard is an awesome tweak to increase your devices aesthetic values. It adds nice ripple effects when you interact with your home screen. Change preferences in your settings app.
Maintainer: Satori
Author: Satori
Section: Tweaks
Version: 0.0.1-119
Installed-Size: 376
